.footer {
  background-color: #fdfdfd;
  min-height: 61px;
  padding: 27px 0 27px 0;
  margin-bottom: 0;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  &_button, &_copyright {
    margin: 0;
  }
  &_copyright {
    text-align: center;
    color: #727070;
    font-size: 12px;
    font-family: OpenSans-Light;
    display: inline-block;
    margin-left: 50px;
  }
  .button-login {
    display: inline-block;
  }
  &_button {
    position: relative;
    color: #9c9c9c;
    font-size: 14px;
    text-decoration: none;
    display: block;
    font-family: OpenSans-Bold;
    &:after {
      display: block;
      content: '';
      background: url("../image/locked.png") no-repeat 0 0;
      width: 16px;
      height: 19px;
      top: -2px;
      position: absolute;
      left: -32px;
    }
    &:hover {
      &:after {
        background: url("../image/unlocked.png") no-repeat 0 0;
        display: block;
        content: '';
        width: 21px;
        height: 19px;
        top: -2px;
        position: absolute;
        left: -32px;
      }
    }
  }
}