body {
  background: url("../image/wrapper-bg.png") no-repeat 0 0;
  background-size: cover;
  height: 100%;
}

.main_pop-up {
  display: block;
  position: absolute;
  bottom:  50%;
  left: 50%;
  width: 333px;
}

.authorization {
  font-size: 12px;
  color: #727070;
}

.pop-up {
  width: 332px;
  height: 281px;
  border: 1px solid #d2d2d2;
  border-radius: 7px;
  background-color: #f8f7f6;
  box-shadow: 0 4px 15px rgba(0,0,0,0.4);
  padding: 38px;
  box-sizing: border-box;
}

.email, .password {
  display: block;
  width: 253px;
  height: 41px;
  border: 1px solid #d6d5d3;
  border-radius: 7px;
  background-color: #fafbfc;
  margin-bottom: 24px;
  box-sizing: border-box;
  color: #c7c6c6;
  font-size: 12px;
  padding-left: 71px;
  position: relative;
  &:focus {
    outline: none;
  }
}

.rename {
  color: #727070;
  font-size: 14px;
}


