.main {
  background: url("../image/wrapper-bg.png") no-repeat 0 0;
  background-size: cover;
  padding-top: 33px;
  &_information {
    max-width: 970px;
    margin: auto;
  }
  &_navigation {
    display: block;
    width: 250px;
    height: 170px;
    border-radius: 5px;
    border: 1px solid #c0c0c0;
    float: left;
  }
  &_contacts {
    display: block;
    float: left;
    width: 250px;
    height: 113px;
    margin-top: 78px;
  }
    &_item {
      list-style-type: none;
    }
    &_link {
      text-decoration: none;
      color: #727070;
      font-size: 20px;
      display: block;
      height: 56px;
      width: 250px;
      padding: 15px 0 20px 30px;
      box-sizing: border-box;
      background-color: #f7f5f5;
      background: linear-gradient(to bottom, #fbfafa, #e9e8e8);
      &:hover {
        background-color: #dcdada;
        background: linear-gradient(to bottom, #dcdbdb, #bebdbd);
      }
    }
    .active {
     background-color: #5bcdb1;
     border: none;
     background: linear-gradient(to bottom, #a5efdd, #3fb79a);
     border-top-right-radius: 5px;
     border-top-left-radius: 5px;
      }
    &_list {
      margin: 0;
      padding: 0;
      border: 1px solid #c3c3c3;
      border-radius: 5px;
    }
  &_info {
    display: block;
    min-height: 285px;
    width: 650px;
    border-radius: 5px;
    border: 1px solid #c5c5c5 ;
    background-color: #f6f5f5;
    float: right;
    margin-bottom: 35px;
  }
  .avatar {
    width: 142px;
    height: 142px;
    border-radius: 50% 50%;
    overflow: hidden;
    border: 10px solid #f0efee;
  }
  .my-photo {
    width: 100%;
  }
  &_title {
    height: 57px;
    background-color: #8c8989;
    background: linear-gradient(to bottom, #a9a7a7, #7c7979);
    display: block;
    margin: 0;
    color: #eeedec;
    font-size: 24px;
    font-weight: normal;
    padding: 12px 0 0 40px;
    border: 1px solid #636363;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-sizing: border-box;
  }
  &_info {
    .content {
      &_about {
        color: #727070;
        font-size: 16px;
        span {
          font-size: 14px;
        }
      }
    }
  }
}