.main {
  background: url("../image/wrapper-bg.png") no-repeat 0 0;
  background-size: cover;
  padding-top: 33px;
  &_information {
    max-width: 970px;
    margin: auto;
  }
  &_navigation {
    display: block;
    width: 250px;
    height: 170px;
    float: left;
  }
  &_contacts {
    display: block;
    float: left;
    width: 250px;
    height: 113px;
    margin-top: 78px;
  }
  &_mail, &_phone, &_skype {
    &.link {
      background-color: #f7f5f5;
      background: linear-gradient(to bottom, #ffffff, #f5f5f5);
      color: #727070;
      border: 1px solid #d4d3d2;
      padding-left: 97px;
    }
  }

    &_item {
      list-style-type: none;
    }

    &_link {
      text-decoration: none;
      border-radius: 2px;
      color: #727070;
      font-size: 20px;
      display: block;
      min-height: 56px;
      width: 250px;
      padding: 15px 0 20px 30px;
      box-sizing: border-box;

      &.first {
        background-color: #f7f5f5;
        background: linear-gradient(to bottom, #a8a7a7, #7c7979);
        color: #eeedec;
        border: 1px solid #6d6d6d;
        &:hover {
          background-color: #669f88;
          background: linear-gradient(to bottom, #78baa0, #4a7664);
          color: #eeedec;
          border: 1px solid #88d1b3;
        }
      }
      &.second {
        background-color: #f7f5f5;
        background: linear-gradient(to bottom, #e3e2e2, #bebdbd);
        color: #727070;
        border: 1px solid #bebebe;
        &:hover {
          background-color: #78ba9f;
          background: linear-gradient(to bottom, #90dabc, #669f87);
          color: #467366;
          border: 1px solid #88d1b3;
        }
      }

      &.third {
        background-color: #f7f5f5;
        background: linear-gradient(to bottom, #f9f9fa, #e8e7e8);
        color: #727070;
        border: 1px solid #c0c0c0;
        &:hover {
          background-color: #8accae;
          background: linear-gradient(to bottom, #a5e7cb, #74b797);
          color: #467366;
          border: 1px solid #88d1b3;
        }
      }
    }
    &_list {
      margin: 0;
      padding: 0;
    }
  &_info {
    display: block;
    min-height: 285px;
    width: 650px;
    border-radius: 5px;
    border: 1px solid #c5c5c5 ;
    background-color: #f6f5f5;
    float: right;
    margin-bottom: 35px;
  }
  .avatar {
    width: 142px;
    height: 142px;
    border-radius: 50% 50%;
    overflow: hidden;
    border: 10px solid #f0efee;
  }
  .my-photo {
    width: 100%;
  }
  &_title {
    min-height: 57px;
    background-color: #8c8989;
    background: linear-gradient(to bottom, #a9a7a7, #7c7979);
    display: block;
    margin: 0;
    color: #eeedec;
    font-size: 24px;
    font-weight: normal;
    padding: 12px 0 0 40px;
    border: 1px solid #636363;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-sizing: border-box;
  }
  &_info {
    .content {
      &_about {
        color: #727070;
        font-size: 16px;
        span {
          font-size: 14px;
        }
      }
    }
  }
}