.main {
  background: url("../image/wrapper-bg.png") no-repeat 0 0;
  background-size: cover;
  padding-top: 33px;
  &_information {
    max-width: 970px;
    margin: auto;
  }
  &_navigation {
    display: block;
    width: 250px;
    height: 170px;
    float: left;
  }
  &_contacts {
    display: block;
    float: left;
    width: 250px;
    height: 113px;
    margin-top: 78px;
  }

  .main-p {
    min-height: 43px;
    width: 250px;
    color: #d0982c;
    font-size: 20px;
    display: block;
    background: #e8bf6e;
    background: linear-gradient(to bottom, #f4cc7e, #deb461);
    padding: 15px 0 20px 30px;
    box-sizing: border-box;
    border-radius: 2px;
    border: 1px solid #caa14e;
    margin: 0;
  }

  &_mail, &_phone, &_skype {
    &.link {
      background-color: #f7f5f5;
      background: linear-gradient(to bottom, #ffffff, #f5f5f5);
      color: #727070;
      border: 1px solid #d4d3d2;
      font-size: 14px;
      display: block;
      min-height: 38px;
      width: 250px;
      text-decoration: none;
      border-radius: 2px;
      box-sizing: border-box;
      padding:10px 10px 10px 97px;
      position: relative;
      white-space: nowrap;
      overflow: hidden;
      text-overflow:ellipsis;
      &:after {
        content: '';
        display: block;
        position: absolute;
        background: url("../image/arrow.png") no-repeat 0 0;
        width: 10px;
        height: 38px;
        top: 0;
        left: 49px;
      }
      &:hover {
        background: linear-gradient(to bottom, #ffffff, #f2e7d0);
        text-decoration: underline;
      }
    }
  }

  &_mail , &_phone, &_skype {
    position: relative;
    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 19px;
    }
  }
  &_mail {
    &:before {
      background: url("../image/ico/ico-mail.png") no-repeat 0 0;
      width: 14px;
      height: 10px;
      top: 13px;
    }
  }
  &_phone {
    &:before {
      background: url("../image/ico/ico-phone.png") no-repeat 0 0;
      width: 14px;
      height: 19px;
      top: 9px;
    }
  }
  &_skype {
    &:before {
      background: url("../image/ico/ico-skype.png") no-repeat 0 0;
      width: 19px;
      height: 19px;
      top: 9px;
    }
  }

    &_item, .contacts_li  {
      list-style-type: none;
    }

    &_link {
      text-decoration: none;
      border-radius: 2px;
      color: #727070;
      font-size: 20px;
      display: block;
      min-height: 56px;
      width: 250px;
      padding: 15px 0 20px 30px;
      box-sizing: border-box;

      &.first {
        background-color: #f7f5f5;
        background: linear-gradient(to bottom, #a8a7a7, #7c7979);
        color: #eeedec;
        border: 1px solid #6d6d6d;
        &:hover {
          background-color: #669f88;
          background: linear-gradient(to bottom, #78baa0, #4a7664);
          color: #eeedec;
          border: 1px solid #88d1b3;
        }
      }
      &.second {
        background-color: #f7f5f5;
        background: linear-gradient(to bottom, #e3e2e2, #bebdbd);
        color: #727070;
        border: 1px solid #bebebe;
        &:hover {
          background-color: #78ba9f;
          background: linear-gradient(to bottom, #90dabc, #669f87);
          color: #467366;
          border: 1px solid #88d1b3;
        }
      }

      &.third {
        background-color: #f7f5f5;
        background: linear-gradient(to bottom, #f9f9fa, #e8e7e8);
        color: #727070;
        border: 1px solid #c0c0c0;
        &:hover {
          background-color: #8accae;
          background: linear-gradient(to bottom, #a5e7cb, #74b797);
          color: #467366;
          border: 1px solid #88d1b3;
        }
      }
    }
    &_list {
      margin: 0;
      padding: 0;
    }
  .about-me {
    padding: 37px;
  }
  &_info {
    display: block;
    min-height: 285px;
    width: 650px;
    border-radius: 5px;
    border: 1px solid #c5c5c5 ;
    background-color: #f6f5f5;
    float: right;
    margin-bottom: 35px;
  }
  .avatar {
    width: 142px;
    height: 142px;
    border-radius: 50% 50%;
    overflow: hidden;
    float: left;
    border: 10px solid #f0efee;
  }
  .my-photo {
    width: 100%;
  }
  &_title {
    min-height: 57px;
    background-color: #8c8989;
    background: linear-gradient(to bottom, #a9a7a7, #7c7979);
    display: block;
    margin: 0;
    color: #eeedec;
    font-size: 24px;
    font-weight: normal;
    padding: 12px 5px 12px 40px;
    border: 1px solid #636363;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-sizing: border-box;
  }
  &_info {
    .content {
      float: right;
      &_about {
        color: #727070;
        font-size: 16px;
        span {
          font-size: 14px;
        }
      }
      &_item {
        list-style-type: none;
        color: #1e7465;
        font-size: 9px;
        font-weight: bold;
        text-transform: uppercase;
        display: block;
        max-width: 48px;
        background-color: #faf8f8;
        background: linear-gradient(to bottom, #f9fafa, #e0e0e0);
        border: 1px solid #d7d7d7;
        margin-bottom: 10px;
        text-align: center;
        box-sizing: border-box;
        padding: 3px 0 3px 0;
        position: relative;
        &:after {
          content: '';
          display: block;
          position: absolute;
          background: url("../image/ico/img-block.png") no-repeat 0 0;
          top: -2px;
          left: -12px;
          width: 12px;
          height: 20px;
        }
      }
    }
  }
  .information-text_p, .education_p {
    position: relative;
    color: #727070;
    font-size: 14px;
    margin-left: 95px;
    margin-bottom: 60px;
    line-height: 1.5;
    &:after {
      position: absolute;
      display: block;
      content: '';
      background: url("../image/ico/ico-bag.png") no-repeat center center;
      width: 53px;
      height: 55px;
      top: -5px;
      left: -91px;
      background-color: #f7f7f7;
      box-shadow: -2px -2px 1px;
      border-radius: 50% 50%;
    }
    &.line {
      &:before {
        position: absolute;
        content: '';
        display: block;
        background: url("../image/line.png") no-repeat 0 0;
        width: 560px;
        height: 2px;
        top: 73px;
        left: -91px;
      }
    }
  }
  .information-text_p:last-child, .education_p:last-child {
    margin-bottom: 0;
  }
  .first-img, .second-img, .third-img {
    position: relative;
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 53px;
      height: 55px;
      left: -94px;
      top: -6px;

    }
  }
  .first-img {
    &:after {
      background: url("../image/ico/ico-school.png") no-repeat center center;
      background-color: #f7f7f7;
      box-shadow: -2px -2px 1px;
      border-radius: 50% 50%;
    }
  }
  .second-img {
    &:after {
      background: url("../image/ico/ico-graduate.png") no-repeat center center;
      background-color: #f7f7f7;
      box-shadow: -2px -2px 1px;
      border-radius: 50% 50%;
    }
  }
  .third-img {
    &:after {
      background: url("../image/ico/ico-file.png") no-repeat center center;
      background-color: #f7f7f7;
      box-shadow: -2px -2px 1px;
      border-radius: 50% 50%;
    }
  }
}