header.header
    .header_logo
    .header_nav
        li.header_list-facebook
            a.header_link-facebook
        li.header_list-vk
            a.header_link-vk
        li.header_list-twitter
            a.header_link-twitter
        li.header_list-github
            a.header_link-github
