section.main
    section.main_information.clearfix
        nav.main_navigation
            ul.main_list
                li.main_item
                    a(href="#").main_link.active Обо мне
                li.main_item
                    a(href="#").main_link Мои Работы
                li.main_item
                    a(href="#").main_link Обратная связь
            section.main_contacts
                a(href="mailto:kvvendetta@gmail.com").main_mail kvvendetta@gmail.com<br>
                a(href="tel:+380631162291").main_phone +380631162291<br>
                a(href="tel:vikanovik.vika").main_skype vikanovik.vika
        section.main_info
            h2.main_title Основная информация
            .avatar
                img(src="image/my-photo.jpg" alt="my-photo").my-photo
            .content
                p.content_about Меня зовут: <span>Коваленко Виктория Владимировна</span>
                p.content_about Мой возраст: <span>21 год</span>
                p.content_about Мой город: <span>Чернигов</span>
                p.content_about Моя специализация: <span>FRONTEND разработчик</span>
                p.content_about Ключевые навыки:
                ul.content_list
                    li.content_item HTML5
                    li.content_item CSS3
                    li.content_item Photoshop
                    li.content_item БЭМ
                    li.content_item SASS
                    li.content_item Jade
                    li.content_item Gulp
                    li.content_item Git
                    li.content_item Terminal
        section.main_info
            h2.main_title Опыт работы
            p.information-text_p "ИП Боровицкий" - Продавец дисков<br>Cентябрь 2005 - Август 2008
            p.information-text_p "ООО Системы безопастности" - Системный администратор<br>Июнь 2008 - Июль 2010
            p.information-text_p "Магнит, Розничная сеть" - Ведущий аналитик по внедрению Oracle Web Center<br>Август 2011 - Октябрь 2012
        section.main_info
            h2.main_title Образование
            p.education_p-first Полное среднее. Петровская НВК-ЗНЗ 1-3 ст. ДНЗ<br>2000-2011
            p.education_p-second Среднее специальное. ЧЦПТУ<br>2011-2012
            p.education_p-first Среднее специальное. Черниговский колледж экономики и технологий<br>2012-2013
