doctype
html
    include _head.jade
    body
        .wrapper
            include _header.jade
            section.main
                section.main_information.clearfix
                    include _aside
                    include _section.jade

            include _footer.jade
        include _scripts.jade