doctype
html
   head
      meta(charset="utf-8")
      meta(name="viewport" content="width=device-width, initial-scale=1.0")
      title My-Works
      link(rel="stylesheet" href="../bower_components/normalize.css/normalize.css")
      link(rel="stylesheet" href="css/main.css")
   body
      .wrapper
         include _header.jade
         section.main
            section.main_information.clearfix
               include _aside.jade
               section.main_info
                  h2.main_title Мои работы
                  .works
                     ul.main-works
                        li.works_item
                           a(href="#")
                              img(src="image/works-1.png" alt="").works_img
                           a(href="#").works_name a-industry.ru
                           p.works_description Корпоративный и в тоже время продающий сайт строительной компании a-industry.
                        li.works_item
                           a(href="#")
                              img(src="image/works-2.png"  alt="").works_img
                           a(href="#").works_name a-industry.ru
                           p.works_description Продающая страница для компании ledenland.
                        li.works_item
                           a(href="#")
                              img(src="image/works-3.png"  alt="").works_img
                           a(href="#").works_name a-industry.ru
                           p.works_description Лендинг компании «СRM Consulting» специализирующейся на точной настройке Битрикс24 под бизнес.
                        li.works_item
                           a(href="#")
                              img(src="image/works-4.png"  alt="").works_img
                           a(href="#").works_name a-industry.ru
                           p.works_description Сайт по услугам разработки продающих лендингов.
                        li.works_item
                           a(href="#")
                              img(src="image/works-5.png"  alt="").works_img
                           a(href="#").works_name a-industry.ru
                           p.works_description Landing page по продажи франшизы снежного бизнеса.
                        li.works_item.add-project
                           a(href="#").works_add Добавить проект
         include _footer.jade
      include _scripts.jade
