doctype
html
   head
      meta(charset="utf-8")
      meta(name="viewport" content="width=device-width, initial-scale=1.0")
      title Authorization
      link(rel="stylesheet" href="../bower_components/normalize.css/normalize.css")
      link(rel="stylesheet" href="css/main.css")
   body
      .wrapper
         section.main_pop-up
            p.authorization Авторизируйтесь
         include _footer.jade
      include _scripts.jade

