.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

.hide {
  display: none !important;
}

.header {
  background: url("../image/bg-head.jpg") repeat-x 0 0;
  border-bottom: 10px solid #ffffff;
  min-height: 90px;
}
.header-content {
  display: block;
  width: 85%;
  height: 79px;
  margin: auto;
}
.header_logo {
  float: left;
  display: block;
  margin-top: 10px;
}
.header_nav {
  float: right;
  display: inline-block;
  width: 220px;
  height: 40px;
  margin-top: 26px;
}

.header_logo-link {
  display: block;
}

.social_link {
  text-indent: -9999px;
  display: block;
  width: 38px;
  height: 40px;
}
.social_link:hover {
  transition: 0.2s;
  transform: rotate(-360deg);
}

.facebook {
  background: url("../image/ico/ico-facebook.png") no-repeat 0 0;
}
.facebook:hover {
  background: url("../image/ico/ico-facebook-active.png") no-repeat 0 0;
}

.vk {
  background: url("../image/ico/ico-vk.png") no-repeat 0 0;
}
.vk:hover {
  background: url("../image/ico/ico-vk-active.png") no-repeat 0 0;
}

.twitter {
  background: url("../image/ico/ico-twitter.png") no-repeat 0 0;
}
.twitter:hover {
  background: url("../image/ico/ico-twitter-active.png") no-repeat 0 0;
}

.github {
  background: url("../image/ico/ico-girhub.png") no-repeat 0 0;
}
.github:hover {
  background: url("../image/ico/ico-github-active.png") no-repeat 0 0;
}

.social_list {
  display: inline-block;
  margin-left: 15px;
}
.social_list:first-child {
  margin-left: 0;
}

.main {
  padding-top: 33px;
  padding-bottom: 100px;
}
.main_information {
  max-width: 970px;
  margin: auto;
}
.main_navigation {
  display: block;
  width: 250px;
  float: left;
}
.main_contacts {
  display: block;
  float: left;
  width: 250px;
}
.main .main-p {
  min-height: 43px;
  width: 250px;
  color: #d0982c;
  font-size: 20px;
  display: block;
  background: #e8bf6e;
  background: linear-gradient(to bottom, #f4cc7e, #deb461);
  padding: 8px  28px;
  box-sizing: border-box;
  border-radius: 2px;
  border: 1px solid #caa14e;
  margin: 0;
}
.main_mail.link, .main_phone.link, .main_skype.link {
  background-color: #f7f5f5;
  background: linear-gradient(to bottom, #ffffff, #f5f5f5);
  color: #727070;
  border: 1px solid #d4d3d2;
  font-size: 14px;
  display: block;
  min-height: 35px;
  width: 250px;
  text-decoration: none;
  border-radius: 2px;
  box-sizing: border-box;
  padding: 6px 10px  9px 96px;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main_mail.link:after, .main_phone.link:after, .main_skype.link:after {
  content: '';
  display: block;
  position: absolute;
  background: url("../image/arrow.png") no-repeat 0 0;
  width: 10px;
  height: 38px;
  top: 0;
  left: 49px;
}
.main_mail.link:hover, .main_phone.link:hover, .main_skype.link:hover {
  background: linear-gradient(to bottom, #ffffff, #f2e7d0);
  text-decoration: underline;
}
.main_mail, .main_phone, .main_skype {
  position: relative;
}
.main_mail:before, .main_phone:before, .main_skype:before {
  content: '';
  display: block;
  position: absolute;
  left: 19px;
}
.main_mail:before {
  background: url("../image/ico/ico-mail.png") no-repeat 0 0;
  width: 14px;
  height: 10px;
  top: 13px;
}
.main_phone:before {
  background: url("../image/ico/ico-phone.png") no-repeat 0 0;
  width: 14px;
  height: 19px;
  top: 9px;
}
.main_skype:before {
  background: url("../image/ico/ico-skype.png") no-repeat 0 0;
  width: 19px;
  height: 19px;
  top: 9px;
}
.main_item, .main .contacts_li {
  list-style-type: none;
}
.main_link {
  text-decoration: none;
  border-radius: 2px;
  color: #727070;
  font-size: 20px;
  display: block;
  min-height: 56px;
  width: 250px;
  padding: 13px  29px  14px  29px;
  box-sizing: border-box;
  border: 1px solid #c3c3c3;
  background: linear-gradient(#f9f9fa, #e8e7e8);
}
.main_link:hover {
  background: linear-gradient(#e2e0e0, #bebdbd);
}
.main_link:active {
  border: 1px solid #636363;
  color: #eeedec;
  text-shadow: 0 1px 1px #000;
  background: linear-gradient(#a8a7a7, #7c7979);
}
.main_link.active {
  background-color: #669f88;
  background: linear-gradient(to bottom, #7de8cd, #3fb79a);
  color: #1e7465;
  border: 1px solid #88d1b3;
}
.main_list {
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
}
.main .about-me {
  padding: 6px  6px  6px  48px;
}
.main .second-info {
  padding: 22px 41px 22px  41px;
}
.main_info {
  display: block;
  min-height: 285px;
  width: 650px;
  border-radius: 5px;
  border: 1px solid #c5c5c5;
  background-color: #f6f5f5;
  float: right;
  margin-bottom: 35px;
}
.main .avatar {
  width: 142px;
  height: 142px;
  border-radius: 50% 50%;
  overflow: hidden;
  float: left;
  border: 10px solid #f0efee;
  margin-top: 18px;
  box-shadow: 0 0 1px black;
}
.main .my-photo {
  width: 100%;
}
.main_title {
  min-height: 57px;
  background-color: #8c8989;
  background: linear-gradient(to bottom, #a9a7a7, #7c7979);
  display: block;
  margin: 0;
  color: #eeedec;
  font-size: 24px;
  font-weight: normal;
  padding: 9px 43px;
  border: 1px solid #636363;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-sizing: border-box;
}
.main_info .content {
  float: right;
  width: 384px;
}
.main_info .content_about {
  color: #727070;
  font-size: 14px;
  font-family: OpenSans-Semibold;
  float: left;
  margin-right: 10px;
}
.main_info .content .about-list {
  line-height: 2;
}
.main_info .content_item {
  list-style-type: none;
  font-family: OpenSans-Semibold;
  color: #1e7465;
  font-size: 9px;
  text-transform: uppercase;
  display: inline-block;
  background-color: #faf8f8;
  background: linear-gradient(to bottom, #f9fafa, #e0e0e0);
  border: 1px solid #d7d7d7;
  margin-bottom: 10px;
  text-align: center;
  box-sizing: border-box;
  padding: 2px 7px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  margin-left: 10px;
  position: relative;
}
.main_info .content_item:after {
  position: absolute;
  content: '';
  display: block;
  background: url("../image/ico/img-block.png") no-repeat 0 0;
  width: 12px;
  height: 20px;
  top: -2px;
  left: -11px;
}
.main_info .content_about:nth-child(3) {
  clear: both;
}
.main_info .content_list {
  padding: 0;
  margin: 0;
  line-height: 1.5;
}
.main .information-text_p, .main .education_p {
  position: relative;
  color: #727070;
  margin: 0;
  padding: 33px  30px  35px  105px;
  font-size: 14px;
  line-height: 1.5;
  font-family: "OpenSans-Regular";
}
.main .information-text_p:after, .main .education_p:after {
  position: absolute;
  display: block;
  content: '';
  background: url("../image/ico/ico-bag.png") no-repeat center center;
  width: 53px;
  height: 55px;
  top: 28%;
  left: 3%;
  background-color: #f7f7f7;
  box-shadow: -2px -2px 1px;
  border-radius: 50% 50%;
}
.main .information-text_p.line, .main .education_p.line {
  border-bottom: 2px solid #dbdbda;
}
.main .information-text_p:last-child, .main .education_p:last-child {
  margin-bottom: 0;
}
.main .first-img, .main .second-img, .main .third-img {
  position: relative;
}
.main .first-img:after, .main .second-img:after, .main .third-img:after {
  content: '';
  display: block;
  position: absolute;
  width: 53px;
  height: 55px;
  left: 3%;
  top: 28%;
}
.main .first-img:after {
  background: url("../image/ico/ico-school.png") no-repeat center center;
  background-color: #f7f7f7;
  box-shadow: -2px -2px 1px;
  border-radius: 50% 50%;
}
.main .second-img:after {
  background: url("../image/ico/ico-graduate.png") no-repeat center center;
  background-color: #f7f7f7;
  box-shadow: -2px -2px 1px;
  border-radius: 50% 50%;
}
.main .third-img:after {
  background: url("../image/ico/ico-file.png") no-repeat center center;
  background-color: #f7f7f7;
  box-shadow: -2px -2px 1px;
  border-radius: 50% 50%;
}
.main .about-span {
  margin: 0;
  font-size: 14px;
}
.main_link, .main_title, .main-p, .main .about-span, .main .information-text_p, .main .link {
  font-family: "OpenSans-Regular";
}

.about-span {
  float: left;
}

.about-span:nth-child(3n) {
  clear: both;
}

.works {
  display: block;
  padding: 41px 35px;
}

.main-works {
  padding: 0;
  margin: 0;
}

.works_item {
  width: 165px;
  list-style-type: none;
  display: inline-block;
  vertical-align: top;
  margin-left: 32px;
  border: 1px solid #d0cfcf;
  border-radius: 7px;
  text-align: center;
  margin-bottom: 30px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  position: relative;
}
.works_item:first-child, .works_item:nth-child(4) {
  margin-left: 0;
}

.works_img {
  display: block;
  width: 100%;
  position: relative;
}

.works_name {
  background-color: #f2f2f2;
  padding: 8px 5px;
  display: block;
  color: #727070;
  font-size: 13px;
  border-top: 1px solid #bfbfbf;
  text-decoration: none;
}

.works_description {
  background: #ffffff;
  margin: 0;
  color: #727070;
  font-size: 12px;
  display: block;
  padding: 8px 17px;
}

.add-project {
  height: 135px;
  background: #f3f1f1;
  background: linear-gradient(to bottom, #fafbfb, #e9e8e8);
  position: relative;
}
.add-project:after {
  content: '';
  display: block;
  position: absolute;
  background: url("../image/ico/polaroid.png") no-repeat center center;
  width: 53px;
  height: 55px;
  top: 27px;
  left: 56px;
  background-color: #f7f7f7;
  box-shadow: -2px -2px 1px #cfcfcf;
  border-radius: 50% 50%;
}
.add-project:hover {
  background: #d7d5d5;
  background: linear-gradient(to bottom, #e5e4e4, #bebdbd);
  border: 1px solid #b6b6b6;
}
.add-project:hover:after {
  content: '';
  display: block;
  position: absolute;
  background: url("../image/ico/polaroid.png") no-repeat center center;
  width: 53px;
  height: 55px;
  top: 27px;
  left: 56px;
  background-color: #d7d7d7;
  box-shadow: inset 2px 2px 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.8);
  border-radius: 50% 50%;
}

.works_add {
  font-size: 14px;
  color: #727070;
  text-decoration: none;
  display: block;
  padding: 96px 27px;
}
.works_add:hover {
  color: #727070;
}

body {
  background: url("../image/wrapper-bg.png") no-repeat 0 0;
  background-size: cover;
  height: 100%;
}

.main_pop-up {
  display: block;
  position: absolute;
  bottom: 50%;
  left: 50%;
  width: 333px;
}

.authorization {
  font-size: 12px;
  color: #727070;
}

.pop-up {
  width: 332px;
  height: 281px;
  border: 1px solid #d2d2d2;
  border-radius: 7px;
  background-color: #f8f7f6;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
  padding: 38px;
  box-sizing: border-box;
}

.email, .password {
  display: block;
  width: 253px;
  height: 41px;
  border: 1px solid #d6d5d3;
  border-radius: 7px;
  background-color: #fafbfc;
  margin-bottom: 24px;
  box-sizing: border-box;
  color: #c7c6c6;
  font-size: 12px;
  padding-left: 71px;
  position: relative;
}
.email:focus, .password:focus {
  outline: none;
}

.rename {
  color: #727070;
  font-size: 14px;
}

.footer {
  background-color: #fdfdfd;
  min-height: 61px;
  padding: 27px 0 27px 0;
  margin-bottom: 0;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.footer_button, .footer_copyright {
  margin: 0;
}
.footer_copyright {
  text-align: center;
  color: #727070;
  font-size: 12px;
  font-family: OpenSans-Light;
  display: inline-block;
  margin-left: 50px;
}
.footer .button-login {
  display: inline-block;
}
.footer_button {
  position: relative;
  color: #9c9c9c;
  font-size: 14px;
  text-decoration: none;
  display: block;
  font-family: OpenSans-Bold;
}
.footer_button:after {
  display: block;
  content: '';
  background: url("../image/locked.png") no-repeat 0 0;
  width: 16px;
  height: 19px;
  top: -2px;
  position: absolute;
  left: -32px;
}
.footer_button:hover:after {
  background: url("../image/unlocked.png") no-repeat 0 0;
  display: block;
  content: '';
  width: 21px;
  height: 19px;
  top: -2px;
  position: absolute;
  left: -32px;
}

body {
  background: url("../image/wrapper-bg.png") no-repeat 0 0;
  background-size: cover;
}

.wrapper {
  font-family: "Arial", sans-serif;
  max-width: 1920px;
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url(../fonts/opensans-bold-webfont.ttf);
}
@font-face {
  font-family: "OpenSans-BoldItalic";
  src: url(../fonts/opensans-bolditalic-webfont.ttf);
}
@font-face {
  font-family: "OpenSans-ExtraBold";
  src: url(../fonts/opensans-extrabold-webfont.ttf);
}
@font-face {
  font-family: "OpenSans-ExtraBoldItalic";
  src: url(../fonts/opensans-extrabolditalic-webfont.ttf);
}
@font-face {
  font-family: "OpenSans-talic";
  src: url(../fonts/opensans-italic-webfont.ttf);
}
@font-face {
  font-family: "OpenSans-Light";
  src: url(../fonts/opensans-light-webfont.ttf);
}
@font-face {
  font-family: "OpenSans-LightItalic";
  src: url(../fonts/opensans-lightitalic-webfont.ttf);
}
@font-face {
  font-family: "OpenSans-Regular";
  src: url(../fonts/opensans-regular-webfont.ttf);
}
@font-face {
  font-family: "OpenSans-Semibold";
  src: url(../fonts/opensans-semibold-webfont.ttf);
}
@font-face {
  font-family: "OpenSans-SemiboldItalic";
  src: url(../fonts/opensans-semibolditalic-webfont.ttf);
}
body {
  margin: 0;
  height: 100%;
  min-width: 100%;
}

html {
  position: relative;
  min-height: 100%;
}

/*# sourceMappingURL=main.css.map */
